* {
	padding: 0;
    margin: 0;
	font-family: "Permanent Marker";
}

body {
	display: column;
    height: 100vh;
} 

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
    height: 60%;
}

.container-interfaz-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
    width: 50%;
    height: 30%;
}

.container-interfaz-switch a button {
    margin-bottom: 2px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
}

.name-interfaz-1 {
    margin-bottom: 10px;
}

.container-input-info {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex-direction: row;
}

.container-input-info-column {
   margin-left: 10px;
   margin-right: 10px;
}

.txt-input {
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
    margin-bottom: 4px;
    padding-right: 0;
    right: 0;
}

.container-txt-input-button{
    width: 100%;
    height: 100%;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
}

.container-txt-input-button input{
    margin-right: 10px;
    width: 100%;
}

.container-out-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container-out-info button {
    margin-right: 10%;
    margin-left: 10%;
    width: 120px;
}

.container-out-info-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-menu-list {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.container-menu-list input button {
    margin-bottom: 5px;
}

.container-interact-output {

}